.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh; 
}

.App-header {
  margin-bottom: 20px;
  font-size: 24px;
}

#comp-img{
  width: 250px;
}

.latest-reviews {
  display: flex;
  flex-direction: column; /* Display reviews in a column */
  align-items: center; /* Center align reviews horizontally */
}

.review {
  border: 1px solid #fcfffc; /* Add a border to each review */
  padding: 16px; /* Add padding to separate reviews */
  margin: 16px; /* Add margin to space out reviews */
  width: 80%; /* Adjust the width as needed */
  max-width: 600px; /* Set a maximum width to prevent reviews from becoming too wide */
  background-color: #f9f9f9; /* Background color for reviews */
}

.review h3 {
  font-size: 18px; /* Set the font size for review titles */
}

.review p {
  font-size: 16px; /* Set the font size for review content */
}

/* Example CSS for customizing toast messages */
.custom-toast-container .Toastify__toast {
  background-color: #333; /* Background color of the toast message */
  color: #fff; /* Text color */
  border-radius: 4px; /* Rounded corners */
  box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.2); /* Box shadow for the toast */
  font-size: 16px; /* Text size */
}

.custom-toast-container .Toastify__toast--success {
  background-color: #55b406; /* Background color for success toast messages */
}

.custom-toast-container .Toastify__toast--error {
  background-color: #f44336; /* Background color for error toast messages */
}

/* Adjust the size of the checkmark icon */
.custom-toast-container .Toastify__toast-body::before {
  font-size: 1px; /* Example: Increase the checkmark size */
}

/* Positioning of toast messages */
.custom-toast-container .Toastify__toast-container {
  width: 1px; /* Width of the toast container */
}

/* You can add more custom styles as needed */
