.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh; 
}

.App-header {
  margin-bottom: 20px;
  font-size: 24px;
}

#comp-img{
  width: 250px;
}

.latest-reviews {
  display: flex;
  flex-direction: column; 
  align-items: center; 
}

.review {
  border: 1px solid #fcfffc; /* Add a border to each review */
  padding: 16px; /* Add padding to separate reviews */
  margin: 16px; /* Add margin to space out reviews */
  width: 80%; /* Adjust the width as needed */
  max-width: 600px; /* Set a maximum width to prevent reviews from becoming too wide */
  background-color: #d9d3ed; /* Background color for reviews */
}

.review h3 {
  font-size: 18px; 
}

.review p {
  font-size: 16px; /
}


.custom-toast-container .Toastify__toast {
  background-color: #333; 
  color: #fff; 
  border-radius: 4px; 
  box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.2); 
  font-size: 16px; 
}

.custom-toast-container .Toastify__toast--success {
  background-color: #55b406; 
}

.custom-toast-container .Toastify__toast--error {
  background-color: #f44336; 
}


.custom-toast-container .Toastify__toast-body::before {
  font-size: 1px; 
}


.custom-toast-container .Toastify__toast-container {
  width: 1px; 
}

