.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh; 
}

.App-header {
  margin-bottom: 20px;
  font-size: 24px;
}

#comp-img{
  width: 250px;
}

#review-container {
  flex-direction: column;
    width: 40rem;
    border-radius: 5px;
    padding: 1rem;
    box-shadow: 0px 0px 18px -6px rgba(20, 20, 20, 0.8);
    transition: all 0.3s ease;
    gap: 2rem;
    flex-wrap: wrap;
    margin-top: 1rem;
}
/* Add more styling for other elements if needed */

/* #scroll-wheel-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
#scroll-wheel {
  display: flex;
  justify-content: space-around;
}
#scroll-item {
  border: 1px solid #ccc;
  padding: 10px;
  height: 150px;
  width: 120px;
  overflow-y: auto;
  margin: 0 10px;
}
#scroll-item ul {
  list-style: none;
  padding: 0;
}
#scroll-item ul li {
  cursor: pointer;
}
#scroll-tiem ul li:hover {
  background-color: #f0f0f0
} */



.box-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  width: 400px;
  margin: 0 auto;
  padding: 20px;
  border: 2px solid #ccc;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  background-color: #fff;
  box-shadow: 0px 0px 18px -6px rgba(20, 20, 20, 0.8);
}

.box {
  padding: 15px;
}
.scroll-item {
  margin-bottom: 10px;
}

.scroll-item h3 {
  margin-bottom: 5px;
}

textarea {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  resize: vertical;
}

button {
  padding: 10px 20px;
  background-color: #007BFF;
  color: #fff;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
}

button:hover {
  background-color: #f5f7f9;
}


.star-rating {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.star-container {
  display: flex;
  justify-content: space-between;
  width: 200px;
}

.star-rating button {
  font-size: 40px;
  background-color: transparent;
  border: none;
  cursor: pointer;
  margin: 0;
  padding: 1px;
}

.star-rating button.on {
  color: rgb(235, 14, 202);
}

.star-rating button.off {
  color: #ccc;
}
.latest-reviews {
  display: flex;
  flex-direction: column; 
  align-items: center; 
}

.review {
  border: 1px solid #fcfffc; /* Add a border to each review */
  padding: 16px; /* Add padding to separate reviews */
  margin: 16px; /* Add margin to space out reviews */
  width: 80%; /* Adjust the width as needed */
  max-width: 600px; /* Set a maximum width to prevent reviews from becoming too wide */
  background-color: #d9d3ed; /* Background color for reviews */
}

.review h3 {
  font-size: 18px; 
}

.review p {
  font-size: 16px; /
}


.custom-toast-container .Toastify__toast {
  background-color: #333; 
  color: #fff; 
  border-radius: 4px; 
  box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.2); 
  font-size: 16px; 
}

.custom-toast-container .Toastify__toast--success {
  background-color: #55b406; 
}

.custom-toast-container .Toastify__toast--error {
  background-color: #f44336; 
}


.custom-toast-container .Toastify__toast-body::before {
  font-size: 1px; 
}


.custom-toast-container .Toastify__toast-container {
  width: 1px; 
}

